*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
html {
    font-family: "Montserrat", sans-serif;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: white;
}

a:active{
  color:white;
}

/*NAVIGAZIONE*/
.nav {
    background-color: rgb(60, 72, 87);
    text-align: right;
    height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #0078ff;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}

#toggle {
    display: none;
}

.logo{
  position: absolute;
  float: left;
  margin: 10px 0 0 20px;
}

/*HOME*/
.caricatura{
  max-width: 600px;
  height: 500px;
  width: 500px;
  position: relative;
  top: 70px;
  float: right;
  margin-right: 10%;
}

.home{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.162;
  text-align: left;
  position: absolute;
  left: 110.578px;
  top: 300px;
}

.social img{
  position: relative;
  left: 100px;
  top: 490px;
  height: 64px;
  padding: 4px;
}

/*PORTFOLIO*/
.hero-image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 950px;
  background: url(img/portfolio/desk-pc.png) no-repeat;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-titolo{
  position: absolute;
  top: 60px;
  left: 240px;
  color: white;
  z-index: 3;
  font-size: 100px;
  text-shadow: 2px 2px 12px black;
}

div.picwrapper{
  text-align: center;
  height: 100px;
}

.picwrapper img{
  position: relative;
  width: 400px;
  z-index: 9;
  top: 210px;
  padding: 10px;
  border-radius: 40px;
  display: inline-block;
}

.work{
  position: relative;
  height: 500px;
  z-index: 1;
  top: 700px;
  bottom: 900px;
  left: 20px;
}

.bottone {
 display: inline-block;
 font-family: "Montserrat", sans-serif;
 text-decoration: none;
 font-size: 16px;
 background-color: #F2D06B;
 border-radius: 5px;
 padding: 10px 20px;
 cursor: pointer;
 z-index: 10;
 position: absolute;
 top: 800px;
 left: 880px;
}
.bottone:hover {
 background-color: #E8AE1C;
}
.bottone > strong {
 font-size: 16px;
}

.work{
  position: relative;
  top: 2000px;
  left: 200px;
  background-repeat: no-repeat;
  background-size: 30% 90%;
}

.skills-titolo{
  position: absolute;
  top: 2035px;
  left: 955px;
  float: right;
  font-size: 60px;
}

.programmi-1 img{
  position: relative;
  padding: 2px;
  height: 90px;
  left: 959px;
  top: 1500px;
  display: flex;
  margin-bottom: 70px;
}

.programmi-1 h1{
  float: right;
  top: 1365px;
  right: 765px;
  position: relative;
}

.programmi-2 img{
  position: relative;
  padding: 2px;
  height: 90px;
  left: 1345px;
  top: 1020px;
  display: flex;
  margin-bottom: 70px;
}

.programmi-2 h1{
  float: right;
  top: 890px;
  right: 380px;
  position: relative;
}
/* Form */

.container{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 1500px auto;
  margin-bottom: 500px;
  box-shadow: 0 0 20px rgb(60,72,87,0.6);
  box-sizing: border-box;
  padding: 40px;
}

.container p{
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(60, 72, 87);
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: rgb(60, 72, 87);
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

::-webkit-input-placeholder{
  font-family: "Montserrat", sans-serif;
}

::-moz-input-placeholder{
  font-family: "Montserrat", sans-serif;
}

::-ms-input-placeholder{
  font-family: "Montserrat", sans-serif;
}

.footer {
   position:absolute;
   top: 3700px;
   width:100%;
   height:60px;   /* Height of the footer */
   background: rgb(60, 72, 87);
   color: white;
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 35px;
}

div .footer {
   position:absolute;
   top: 3600px;
   width:100%;
   height:60px;   /* Height of the footer */
   background: rgb(60, 72, 87);
   color: white;
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 35px;
}

div .img-container{
  text-align: center;
  height: 100px;
  padding-top: 25px;
}

.img-container div{
  color: black;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {

  /* NAVIGAZIONE */
  .menu {
      text-align: center;
      width: 100%;
      display: none;
  }
  .menu a {
      position: relative;
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
      color: black;
      z-index: 1;
  }
  label {
      display: block;
      cursor: pointer;
  }

  #toggle:checked + .menu {
      display: block;
  }
  .menu a:last-of-type{
    margin-bottom: 100px;
  }
  .logo {
      height: 45px;
      display: block;
  }
  /*HOME*/
  .home{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    text-align: center;
    top: 480px;
    left: 0;
  }
  .social img{
    height: 30px;
    position: relative;
    text-align: center;
    left: 120px;
    top: 580px;
    z-index: 1;
  }
  .caricatura{
    height: 300px;
    width: 300px;
    position: relative;
    top: 50px;
    margin-right: 4,5vh;
  }
  /*PORTFOLIO*/
  .portfolio-titolo{
    position: absolute;
    top: 40px;
    left: 60px;
    color: white;
    z-index: 3;
    font-size: 60px;
    text-shadow: 2px 2px 12px black;
  }
  .hero-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 950px;
    background: url(img/portfolio/desk-pc.png) no-repeat;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .picwrapper img{
    top: 170px;
    left: 25px;
    width: 330px;
    position: absolute;
  }
  .bottone {
   display: inline-block;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   white-space: nowrap;
   color: #FFFFFF;
   text-decoration: none;
   line-height: 1.2;
   font-weight: normal;
   font-family: sans-serif;
   font-size: 16px;
   background-color: #F2D06B;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
   position: absolute;
   top: 700px;
   left: 130px;
   z-index: 19;
  }
  .bottone:hover {
   background-color: #E8AE1C;
  }
  .bottone > strong {
   font-size: 16px;
  }
  .skills-titolo{
    position: absolute;
    top: 1820px;
    left: 77px;
    z-index: 3;
    font-size: 50px;
  }
  .work{
    position: absolute;
    top: 1930px;
    left: 7px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: 30% 90%;
  }
  .programmi-1 img{
    padding: 2px;
    height: 60px;
    left: 20px;
    top: 1900px;
    display: flex;
    margin-bottom: 30px;
  }
  .programmi-2 img{
    padding: 2px;
    height: 60px;
    left: 220px;
    top: 1630px;
    display: flex;
    margin-bottom: 30px;
  }
  .programmi-1 h1{
    float: right;
    top: 1820px;
    right: 210px;
    position: relative;
  }
  .programmi-2 h1{
    float: right;
    top: 1550px;
    right: 10px;
    position: relative;
  }
  /* Form */
  .container{
    max-width:800px;
    height: 600px;
    background: #fff;
    margin: 1900px auto;
    margin-bottom: 500px;
    box-shadow: 0 0 20px rgba(60,72,87,0.6);
    box-sizing: border-box;
    padding: 40px;
  }
  .container p{
    text-align: center;
    letter-spacing: 1px;
    font-size: 43px;
    margin-bottom: 20px;
    color: rgb(60, 72, 87);
  }

  .input,
  .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
  }

  .login .input{
    width: 48%;
    float: left;
    margin-right: 4%;
  }

  .login .input:last-child{
    margin-right: 0;
  }

  .msg .area{
    height: 250px;
  }

  .btn{
    width: 250px;
    background: rgb(60, 72, 87);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .input:focus,
  .msg .area:focus{
    border: 2px solid #486255;
  }

  ::-webkit-input-placeholder{
    font-family: "Montserrat", sans-serif;
  }

  ::-moz-input-placeholder{
    font-family: "Montserrat", sans-serif;
  }

  ::-ms-input-placeholder{
    font-family: "Montserrat", sans-serif;
  }
}


/* Tablet Styles */
@media only screen and (max-width: 768px) {
  body {
  }
}
