*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
html {
    font-family: "Montserrat", sans-serif;
}

/*NAVIGAZIONE*/
.nav {
    background-color: rgb(60, 72, 87);
    text-align: right;
    height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #0078ff;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}
#toggle {
    display: none;
}

.logo{
  position: relative;
  float: left;
  margin: 10px 0 0 20px;
}

/*HOME*/
.caricatura{
  max-width: 600px;
  height: 500px;
  width: 500px;
  position: relative;
  top: 150px;
  float: right;
  margin-right: 10%;
}

.home{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.162;
  text-align: left;
  position: absolute;
  left: 110.578px;
  top: 400px;
}

.social img{
  position: relative;
  left: 110px;
  top: 620px;
  height: 64px;
  padding: 4px;
}

/*PORTFOLIO*/
.bg-image{
  position: relative;
  top: 400px;
}

.lavori img{
  position: relative;
  width: 400px;
  z-index: 1;
  top: 1200px;
  left: 320px;
  padding: 10px;
  border-radius: 40px;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  body{
    background-color:; /* azzurro */
  }
  label {
      display: block;
      cursor: pointer;
  }
  .menu {
      text-align: center;
      width: 100%;
      display: none;
  }
  .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
      color: black;
  }
  #toggle:checked + .menu {
      display: block;
  }
  .menu a:last-of-type{
    margin-bottom: 200px;
  }
  .logo {
      height: 45px;
      display: block;
  }
  .caricatura{
    height: 300px;
    width: 300px;
    position: relative;
    top: 50px;
    margin-right: 4,5vh;
  }
  .home{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    text-align: center;
    top: 480px;
    left: 0;
  }
  .social img{
    height: 30px;
    position: relative;
    text-align: center;
    left: 120px;
    top: 580px;
    z-index: 1;
  }
  .bg-image{
    position: relative;
    top: 800px;
  }
  .lavori img{
    top: 1000px;
    left: 40px;
    width: 300px;
    position: absolute;
  }
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  body {
  }
}
